<h1>notatki do lektury</h1>

<table class="table table-striped table-bordered", id="lista_spotkan">

  <thead>
  <tr>

    <th><%= t("name") %></th>
    <th>zawartość</th>
    <th>data stworzenia</th>

  </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.created_at.strftime("%d %b %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>