<h2> Aplikacja o przystąpienie do KNKF doktorantów UW/h2>



<p><%= @user.degree %> <%= @user.full_name %> zwraca się z prośbą o przystąpienie do KNKF.
Email: <%= @user.email %>
</p>
<p>Treść wiadomości:</p>

