<h2> Koło Naukowe Kształcenia Filozoficznego Doktorantów UW</h2>

<h3> Gratulacje,</h3>

<p> Twoje konto na stronie KNKF zostało utworzone. Twoja nazwa do logowania to: <%= @user.email %>.<br/>
</p>

<p> Dziekujemy za zapisanie się! </p>