<h1>Lektury</h1>

<% if current_user && current_user.knkf_member? %>
  <%= link_to 'nowa lektura', new_reading_path, class: "btn btn-link" %>
  <% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Tytuł</th>
      <th>Liczba głosów</th>
      <th>Spotkanie</th>
      <th>Głosowanie</th>
      <th id="delete_reading" title="możesz skasować tylko lektury dodane przez siebie">Skasuj</th>
    </tr>
  </thead>
  <%= render :partial => "voting" %>
</table>
