<br>
<br>

<h1><%= t 'about_us' %></h1>
<h2><%= t 'club_name' %></h2>

<br>
<br>
<h3>Skład zarządu</h3>
<p> Prezes koła: Piotr Zientara </p>
<p> Wiceprezes: Katarzyna Dworakowska</p>
<p> Skarbnik: Katarzyna Grzywacz</p>

<h3>Opiekun koła</h3>
<p>Prof. dr hab. Andrea Folkierska</p>

<a href="https://drive.google.com/file/d/0B6FkkQvZBxefbmFxOFJOWm40RXozRFY1Wkl1dmdhVVB2T0Y4/edit?usp=sharing"> REGULAMIN KOŁA</a>
