
<h1>KOŁO NAUKOWE KSZTAŁCENIA FILOZOFICZNEGO</h1>
<br>
<%= image_tag('http://uw.edu.pl/images/header.jpg') %>
<h4>DOKTORANTÓW UNIWERSYTETU WARSZAWSKIEGO</h4>

      <%= link_to 'Spotkania', meetings_path, class: "btn btn-link" %>

<%= link_to 'Wyloguj', destroy_user_session_path, class: "btn btn-link", :method =>'delete' %>
