<h1>KOŁO NAUKOWE KSZTAŁCENIA FILOZOFICZNEGO</h1>
<br>
<%= image_tag('header.jpg',class: 'img-responsive') %>
<h4>DOKTORANTÓW UNIWERSYTETU WARSZAWSKIEGO</h4>

      <%= link_to 'Spotkania', meetings_index_path, class: "btn btn-link" %>