<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś zarządał otrzymanie linku do zmiany hasła. Możesz to zrobić klikając poniżej.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Jeśli nie chciałeś zmieniać hasła proszę zignoruj tę wiadomość.</p>
<p>Twoje hasło nie ulegnie zmianie dopuki nie zostanie uruchomiony ten link.</p>
