<p>Dzień dobry <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane z powodu zbyt wielu nieudanych prób logowania.</p>

<p>Kliknij łącze poniżej żeby odblokować swoje konto:</p>

<p><%= link_to 'Odblokuj moje konto', unlock_url(@resource, :unlock_token => @token) %></p>
